{% extends "base.html.twig" %}
{% block pageContent %}
	<div style="padding: 0px 5px 0px 5px;">

		<iframe id="invisible" name="invisible" src="" scrolling="yes" marginheight="0" marginwidth="0" width="0" height="0" frameborder="0"></iframe>

		<table class="page-watch" width="795" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody>
				<tr valign="top">
					<td style="padding-right: 15px;" width="515">

						<div class="tableSubTitle">{{ videoTitle }}</div>
						<div style="font-size: 13px; font-weight: bold; text-align:center;">
							<a href="mailto:?subject={{ videoTitle }}&body=http://www.youtube.com/watch?v={{ videoId }}">Share</a>
							//
							<a href="#comment">Comment</a>
							//
							<a href="add_favorites.php?video_id={{ videoId }}" target="invisible" onclick="return FavoritesHandler();">Add to Favorites</a>
							//
							<a href="outbox.php?user={{ videoAuthor }}&subject=Re: {{ videoTitle }}">Contact Me</a>
						</div>

						<div style="text-align: center; padding-bottom: 10px;">
							<div id="flashcontent" class="videoPlayerHolder">
								{{ videoHtml | striptags("<video><span><a>") | raw}}
							</div>
						</div>

						<table width="425" cellspacing="0" cellpadding="0" border="0" align="center">
							<tbody>
								<tr>
									<td>
										<div class="watchDescription">{{ videoDescription | striptags("<span><i>") | raw }}<div class="watchAdded" style="margin-top: 5px;"></div>
										</div>
										<div class="watchTags">Tags //
											{% for tag in videoTags %}
												<a href="results.php?search={{ tag }}">{{ tag }}</a>
												:
											{% endfor %}
										</div>

										<div class="watchAdded">
											Added:
											{{ videoUploadDate }}
											by
											<a href="profile.php?id={{ authorChannelId }}">{{ videoAuthor }}</a>
											//
											<a href="profile_videos.php?id={{ authorChannelId }}">Videos</a>
											(64) |
											<a href="profile_favorites.php?user={{ authorChannelId }}">Favorites</a>
											(0) |
											<a href="profile_friends.php?user={{ authorChannelId }}">Friends</a>
											(16)
										</div>

										<div class="watchDetails">
											Views:
											{{ videoViews }}
											|
											<a href="#comment">Comments</a>: 1
										</div>

									</td>
								</tr>
							</tbody>
						</table>

						<!-- watchTable -->

						<div style="padding: 15px 0px 10px 0px;">
							<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#E5ECF9" align="center">
								<tbody>
									<tr>
										<td><img src="yts/imgbin/box_login_tl.gif" width="5" height="5"></td>
										<td width="100%"><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
										<td><img src="yts/imgbin/box_login_tr.gif" width="5" height="5"></td>
									</tr>
									<tr>
										<form name="linkForm" id="linkForm"></form>
										<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>
										<td align="center">

											<div style="font-size: 11px; font-weight: bold; color: #CC6600; padding: 5px 0px 5px 0px;">Share this video! Copy and paste this link:</div>
											<div style="font-size: 11px; padding-bottom: 15px;">
												<input name="video_link" type="text" onclick="this.select();" value="http://www.youtube.com/watch?v={{ videoId }}" size="50" readonly="true" style="font-size: 10px; text-align: center;">
											</div>

										</td>
										<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>

									</tr>
									<tr>
										<td><img src="yts/imgbin/box_login_bl.gif" width="5" height="5"></td>
										<td><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
										<td><img src="yts/imgbin/box_login_br.gif" width="5" height="5"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<a name="comment"></a>
						<div style="padding-bottom: 5px; font-weight: bold; color: #444;">Comment on this video:</div>

						<form name="comment_form" id="comment_form" method="post" action="add_comment.php" target="invisible" onsubmit="return CommentHandler();">
							<input type="hidden" name="video_id" value="vy8evhya_9E">

							<textarea name="comment" cols="55" rows="3"></textarea>
							<br>
							<input type="submit" name="comment_button" value="Add Comment">


						</form>
						<br>
						<div dummy="true">
							<div class="commentsTitle">Comments:</div>
							{% if hasComments %}
								{% for comment in videoComments %}
									<div class="commentsEntry">{{ comment.commentThreadRenderer.comment.commentRenderer.contentText.runs[0].text }}<br>
										-
										<a href="profile.php?id={{ comment.commentThreadRenderer.comment.commentRenderer.authorEndpoint.browseEndpoint.browseId }}">{{ comment.commentThreadRenderer.comment.commentRenderer.authorText.simpleText }}</a>
										//
										<a href="profile.php?id={{ comment.commentThreadRenderer.comment.commentRenderer.authorEndpoint.browseEndpoint.browseId }}">Videos</a>
										|
										<a href="profile.php?id={{ comment.commentThreadRenderer.comment.commentRenderer.authorEndpoint.browseEndpoint.browseId }}">Favourites</a>
										|
										<a href="profile.php?id={{ comment.commentThreadRenderer.comment.commentRenderer.authorEndpoint.browseEndpoint.browseId }}">Friends</a>
										({{ comment.commentThreadRenderer.comment.commentRenderer.publishedTimeText.runs[0].text }})
									</div>
								{% endfor %}
							{% else %}
								<div class="commentsEntry">No comments or comments disabled.</div>
							{% endif %}
						</div>
					</td>
					<td width="280">
						<table width="280" cellspacing="0" cellpadding="0" border="0" bgcolor="#CCCCCC" align="center">
							<tbody>
								<tr>
									<td><img src="yts/imgbin/box_login_tl.gif" width="5" height="5"></td>
									<td><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
									<td><img src="yts/imgbin/box_login_tr.gif" width="5" height="5"></td>
								</tr>
								<tr>
									<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>
									<td width="270">
										<div class="moduleTitleBar">
											<table width="270" cellspacing="0" cellpadding="0" border="0">
												<tbody>
													<tr valign="top">

														<td>
															<div class="moduleFrameBarTitle">Related Videos (1 of Many)</div>
														</td>
														<td align="right">
															<div style="font-size: 11px; margin-right: 5px;">
																<a href="results.php?search={{ videoTItle }}" target="_parent">See All Results</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div id="side_results" name="side_results">
											<div class="moduleFrameEntrySelected">
												<table width="235" cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr valign="top">
															<td width="90">
																<a href="watch.php?v={{ videoId }}" class="bold" target="_parent"><img src="{{ videoThumbnail }}" class="moduleEntryThumb" width="80" height="60"></a>
															</td>
															<td>
																<div class="moduleFrameTitle">
																	<a href="watch.php?v={{ videoId }}" target="_parent">{{ videoTitle }}</a>
																</div>
																<div class="moduleFrameDetails">
																	by
																	<a href="profile.php?id={{ authorChannelId }}" target="_parent">{{ videoAuthor }}</a>
																</div>
																<div class="moduleFrameDetails">
																	Runtime:
																	{{ videoConvertedRuntime }}<br>
																	Views:
																	{{ videoViews }}<br>
																	Comments: 1
																</div>

																<div style="font-size: 10px; font-weight:bold; color: #CC6600; padding: 3px 6px; background-color:#FFCC66;">
																	<nobr>&lt;&lt;&lt; NOW PLAYING!</nobr>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											{% for related in videoRelated %}
												<div class="moduleFrameEntrySelected">
													<table width="235" cellspacing="0" cellpadding="0" border="0">
														<tbody>
															<tr valign="top">
																<td width="90">
																	<a href="watch.php?v={{ related.compactVideoRenderer.videoId }}" class="bold" target="_parent"><img src="https://i.ytimg.com/vi/{{ related.compactVideoRenderer.videoId }}/hqdefault.jpg" class="moduleEntryThumb" width="80" height="60"></a>
																</td>
																<td>
																	<div class="moduleFrameTitle">
																		<a href="watch.php?v={{ related.compactVideoRenderer.videoId }}" target="_parent">{{ related.compactVideoRenderer.title.simpleText }}</a>
																	</div>
																	<div class="moduleFrameDetails">
																		by
																		<a href="profile.php?id={{ related.compactVideoRenderer.shortBylineText.runs[0].browseEndpoint.browseId }}" target="_parent">{{ related.compactVideoRenderer.shortBylineText.runs[0].text }}</a>
																	</div>
																	<div class="moduleFrameDetails">
																		Runtime:
																		{{ related.compactVideoRenderer.lengthText.simpleText }}<br>
																		Views:
																		{{ related.compactVideoRenderer.viewCountText.simpleText }}<br>
																		Comments: 1
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											{% endfor %}
										</td>
									</td>
									<td><img src="yts/imgbin/pixel.gif" width="5" height="1"></td>
								</tr>
								<tr>
									<td><img src="yts/imgbin/box_login_bl.gif" width="5" height="5"></td>
									<td><img src="yts/imgbin/pixel.gif" width="1" height="5"></td>
									<td><img src="yts/imgbin/box_login_br.gif" width="5" height="5"></td>
								</tr>
							</tbody>
						</table>
						<div style="font-weight: bold; color: #333; margin: 10px 0px 5px 0px;">Related tags:</div>
						{% for tag in videoTags %}
							<div style="padding: 0px 0px 5px 0px; color: #999;">»<a href="results.php?search={{ tag }}" target="_blank">{{ tag }}</a>
							</div>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</td></tr></tbody></table>{% endblock %}
